<!DOCTYPE html>
<html>
    <head>
        <title> Yelpcamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">YelpCamp</a>
                </div>
                <ul class="nav justify-content-right">
                        <li><a class="mr-3" href="/login">Login</a></li>
                        <li><a class="mr-3" href="/register">Sign Up</a></li>
                        <li><a class="mr-3" href="/logout">Log out</a></li>
                </ul>
            </div>
        </nav>
        
    
  